table {
    margin: 0 auto;
}

table, th, td {
    border: 1px solid black;
 }

 th, td {
    padding-left: 50px;
    padding-right: 50px;
 }

 th {
     text-align: center;
 }

#eventList tr:hover {background-color: #ddd;}

