h1 {
    background: darkblue;
    color: white;
    font-size: 3em;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    width: auto;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: lightblue;
  }

  th {
    font-size: 1.5em;
    background-color: darkblue;
    color: lightblue;
  }

  .myInput {
    background-color: grey;
  }

  .schoolWebsite {
    overflow: hidden;
    width: 100px;
  }