body {
    background-color: #55C1E8;
}
img {
    width: 100%;
    height: auto;
    /* opacity: 0.8; */
}
.container { font-size: 1rem; }

@media (min-width: 576px) {
    .container { font-size: 1rem; }
}
@media (min-width: 768px) {
    .container { font-size: 1rem; }
}
@media (min-width: 992px) {
    .container { font-size: 1.25rem; }
}
@media (min-width: 1200px) {
    .container { font-size: 1.5rem; }
}
