html,
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#map {
    height: 100%;
    max-height: 91%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
input {
    width: 150px;
    margin-top: 20px;
}
.menubar {
    position: relative;
    height: 40px;
    /* bottom: px; */
}
.options {
    margin-top: -15px;
    /* margin-right: 500px; */
}
#floating-panel {
    display: none;
    position: absolute;
    top: 105px;
    left: 10px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    line-height: 25px;
    padding-left: 10px;
    border-radius: 2px;
    border: transparent;
}
#floating-panel2 {
    position: absolute;
    top: 67px;
    left: 91px;
    z-index: 5;
    font-size: 10px;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    line-height: 25px;
    padding-left: 10px;
}
tr {
    font-size: 12px;
}
tbody {
    font-size: 10px;
}
#houses {
    border-radius: 2px;
    height: 29px;
    border: transparent;
    color: grey;
    /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
#houses:focus {
    outline: 0;
    border: transparent;
    /* color:black; */
}
#houses:hover {
    color: black;
}
#select {
    border: transparent;
}
#select:focus {
    outline: 0;
}
select.btn-mini {
    height: auto;
    line-height: 14px;
    font-size: 10px;
}
select.btn {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding-right: 16px;
}
select.btn-mini+.caret {
    margin-left: -20px;
    margin-top: 9px;
}