* { 
	margin: 0; 
	padding: 0; 
}

body { 
    font: 14px/1.4;
    font-family: Arial, Helvetica, sans-serif; 
}

#page-wrap {
    margin: 0px;
    background-color: lightgrey;
}

p {
    margin: 20px 0;
}


/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
    width: 100%; 
    border-collapse: collapse; 
}

mytable { 
    width: 100%; 
    border-collapse: collapse; 
    border: 3px;
    border-radius: 30px;
}

/* Zebra striping */
tr:nth-of-type(odd) { 
    background: lightgray;
    color: black; 
}

tr:nth-of-type(even) { 
    background: lightsteelblue;
    color: black; 
}

th { 
    background: lightslategrey; 
    color: white; 
    font-size: 2.5em;
    font-weight: bold; 
}

td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

/* Force table to not be like tables anymore */
table, thead, tbody, th, td, tr { 
    display: block; 
}

/* Hide table headers (but not display: none;, for accessibility) */
thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
}
    
tr { 
    border: 1px solid #ccc; 
}

td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
}
    
td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
}

/*
Label the data
*/
td:nth-of-type(1):before { content: "School"; }
td:nth-of-type(2):before { content: "Street"; }
td:nth-of-type(3):before { content: "city"; }
td:nth-of-type(4):before { content: "State"; }
td:nth-of-type(5):before { content: "Zip"; }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    body { 
        padding: 0; 
        margin: 0; 
        width: 320px; }
    }

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body { 
        width: 495px; 
    }
}

/* Inout Filter box Style */

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
    background-color: grey;
    font-size: 1.2em;
    color: white;
    border: 3px solid lightblue;
}